[server]
address       = ":9980"
read_timeout  = 8000
write_timeout = 8000

[[jobs]]
name = "example"

[jobs.aws]
profile      = ""
access_key   = ""
secret_key   = ""
secret_token = ""
region       = "eu-west-1"

[jobs.filters]
[[jobs.filters.snapshot]]
# https://docs.aws.amazon.com/cli/latest/reference/ec2/describe-snapshots.html#options
name   = "status"
values = ["error"]

# [[jobs.filters.volume_status]]
# https://docs.aws.amazon.com/cli/latest/reference/ec2/describe-volume-status.html#options
# name   = ""
# values = [""]

[[jobs.filters.volume]]
# https://docs.aws.amazon.com/cli/latest/reference/ec2/describe-volumes.html#options
name   = "status"
values = ["available", "error"]

[[jobs.tags]]
tag          = "Name"
exported_tag = "name"
